@import "tailwindcss";

/* modal for all site */

body {
  background-color: #f5f5f7 !important;
}


.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-custom {
  background-color: #bcccdc;
  padding: 2rem;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 10px 0 #181817;
  max-width: 50rem;
  width: 100%;
}